{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<!-- CSS3 Loading animations -->
<link rel="stylesheet" href="static/css/load.css">
<!-- <script src="{{ url_for('static', filename='css/load.css') }}"></script> -->
<!-- ============= -->
<ul class="l-main-content main-content">
  <li class="l-section section section--is-active">
    <div class="intro">
      <div class="intro--banner">
        <p class="myfont">DELTA AI<br>Chat Assistant<br>Project For BCA</p>
        <button class="cta" style="text-transform: none;">Go to AI
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
              <path
                d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
            </g>
          </svg>
          <span class="btn-background"></span>
        </button>
        <img src="static/img/main.gif" width="60%" alt="Welcome">
      </div>
      <div class="intro--options" style="margin-bottom: 10px;">
        <a href="#0" style="color: white;font-size: 18px;">
          <h3>Project By</h3>
          <ol>
            <li>Nikita R. Rahangdale</li>
          </ol>
        </a>
        <a href="#0" style="color: white;font-size: 18px;">
          <h3 style="visibility: hidden;">Project By</h3>
          <ol start="2">
            <li>Aishwarya V. Vaidya </li>
          </ol>
        </a>
        <a href="#0" style="color: white;font-size: 18px;">
          <h3 style="visibility: hidden;">Project By</h3>
          <ol start="3">
            <li>Achal K. Hatwar</li>
          </ol>
        </a>
        <a href="#0" style="color: white;font-size: 18px;">
          <h3 style="visibility: hidden;">Project By</h3>
          <ol start="4">
            <li>Trupti K. Surkar</li>
          </ol>
        </a>
      </div>
    </div>
  </li>
  <li class="l-section section">
    <div class="work">
      <h2>Code on Github</h2>
      <div class="work--lockup">
        <ul class="slider">
          <li class="slider--item slider--item-left">
            <a href="#0">
              <div class="slider--item-image" style="background-color: white; ">
                <img src="static/img/git.jpg" alt="Victory" style="width: 85%;">
              </div>
              <p class="slider--item-title">Code Store</p>
              <a class="slider--item-description" href="https://github.com/caliber123-dot/Delta-AI-Chat-Assistant"
              target="_blank">Click Me</a>
            </a>
          </li>
          <li class="slider--item slider--item-center">
            <a href="#0">
              <div class="slider--item-image">
                <img src="static/img/ai5.gif" alt="Metiew and Smith">
              </div>
              <p class="slider--item-title">Delta AI Project Link</p>
              <a class="slider--item-description" href="https://github.com/caliber123-dot/Delta-AI-Chat-Assistant"
                target="_blank">Click Me</a>
            </a>
          </li>
          <li class="slider--item slider--item-right">
            <a href="#0">
              <div class="slider--item-image" style="background-color: white;">
                <img src="static/img/git.jpg" alt="Alex Nowak" style="width: 85%;">
              </div>
              <p class="slider--item-title">Code Share</p>
              <a class="slider--item-description" href="https://github.com/caliber123-dot/Delta-AI-Chat-Assistant"
              target="_blank">Click Me</a>
            </a>
          </li>
        </ul>
        <div class="slider--prev">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
              <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
            </g>
          </svg>
        </div>
        <div class="slider--next">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
              <path
                d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </li>
  <li class="l-section section">
    <div class="about">
      <div class="about--banner">

        <div style="width: 100%;height: 100%; margin-top: 30px;">
          <iframe style="border: #ddd solid 5px;"
            src="https://1drv.ms/p/c/f7bcf1f0fc4c4a13/IQSdc1P6zrCcQqJ-5Sm4E--bAf_4_5dGQwsRK10RZCbGqao?em=2&amp;wdAr=1.7777777777777777"
            allowfullscreen width="80%" height="94%">
          </iframe>
        </div>

        <img src="static/img/ai2.png" alt="PPT" style="bottom: -20px; right: -250px;width: 50%;">
      </div>
      <div class="about--options1" style="width: 80%; text-align: center;">        
        <h3>PowerPoint</h3>       
    </div>
    </div>
  </li>
  <li class="l-section section">
    <div class="about">
      <div class="about--banner">
        <div style="width: 100%;height: 100%;margin-top: 30px; ">
          <iframe style="border: #ddd solid 5px;"
            src="https://1drv.ms/b/c/f7bcf1f0fc4c4a13/IQTNLRjPjs4mQqavqyZPBqIOAe5BaWN3zYVQSwqgkNfMDoY" allowfullscreen
            width="80%" height="94%">
          </iframe>
        </div>
        <img src="static/img/ai2.png" alt="PPT" style="bottom: -20px; right: -250px ;width: 50%;">
      </div>
      <div class="about--options1" style="width: 80%; text-align: center;">        
          <h3>Report</h3>       
      </div>
    </div>
    
  </li>
  <li class="l-section section">
    <div class="hire">
      <h2 style="font-size: 20px;font-weight: 500;margin-bottom: 5px;">Ask me anything...</h2>
      <!-- checkout formspree.io for easy form setup -->
      <form class="work-request">
        <div class="textbox-container">
          <div class="work-request--options"
            style="width: 100%; align-items: start;margin-bottom: 5px;margin-top: 0px;">
            <textarea id="txtlog" name="txtlog" rows="20" class="textbox TextInput" onblur="_onchange(this)"
              style="width: 100%;border: none;outline: none;background-color: #020e2c;color: #f2f2f2;font-size: 13px;font-weight: 200;line-height:normal;padding: 10px;scrollbar-color: #222 #444;"
              placeholder="Log here ..."></textarea>
          </div>
          <button type="button" class="image-button" title="Send mail to @" onclick="MySearch2(this)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
          <button type="button" class="image-button2" title="Speak" onclick="speak('div.aispeak')">
            <!-- <i class="fa fa-volume-up" aria-hidden="true"></i> -->
            <!-- <i class="fa fa-pause" aria-hidden="true"></i> -->
            <i class="fa fa-play" aria-hidden="true"></i>
            <!-- <i class="fa fa-stop" aria-hidden="true"></i> -->
          </button>
          <button type="button" class="image-button3" title="Stop" onclick="stop()">
            <i class="fa fa-stop" aria-hidden="true"></i>
          </button>
          <button type="button" class="image-button5" title="Download" onclick="download()">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <!-- =========Load========== -->
          <div class="container1 image-button4" style="text-align: center">
            <div id="dload" style="display: none;">
              <div class="load-wrapp">
                <div class="load-3">
                  <!-- <p>Loading 3</p> -->
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- =========Load========== -->
        </div>
        <div class="textbox-container">
          <div class="work-request--options"
            style="width: 100%;align-items: start;margin-bottom: 10px;margin-top: 0px;">
            <input id="chatbox" name="chatbox" onkeyup="MyCall(event,this)" type="text" spellcheck="false"
              class="textbox TextInput" placeholder="Ask me anything..."
              style="width: 100%;font-size: 16px;padding: 10px;background-color: #111;border-radius: 6px;">
          </div>
          <button type="button" id="start-btn" onclick="my1(this)" style="color: red;background-color: darkred;"
            class="image-button glow-on-hover">
            <i class="fa fa-microphone"></i>
          </button>
          <script>
            document.getElementById('toggle-btn').addEventListener('click', function () {
              this.classList.toggle('active');
            });
            function my1(mctrl) {
              // mctrl.classList.toggle('active');
              mctrl.classList.add("active");
              // micElement.classList.remove("active");
            }    
          </script>
        </div>
        <style>
          .TextInput {
            background-color: rgba(24, 24, 24, 0.66);
            box-shadow: rgb(25, 0, 255) 0px 0px 20px, rgb(25, 0, 255) 0px 0px 0px inset;
            color: white;
            border-color: blue;
            border-radius: 8px;
            margin: 2px 0%;
          }
        </style>

        <!-- <hr> -->

        <!-- <div style="width: 100%;margin-bottom: 10px;text-align: center;"> -->
        <div class="button-container">
          <button type="button" id="btncode" class="btn btn-dark btn-sm mybtn1" onclick="MySearch(this)">Write
            a code </button>
          <button type="button" id="btnemail" class="btn btn-dark btn-sm mybtn1" onclick="MySearch(this)">Write an
            email</button>
          <button type="button" id="btnessay" class="btn btn-dark btn-sm mybtn1" onclick="MySearch(this)">Write an
            essay</button>
          <button type="button" id="btnletter" class="btn btn-dark btn-sm mybtn1" onclick="MySearch(this)">Write a
            letter</button>
          <!-- &nbsp;<button type="button" id="btnletter" class="btn btn-dark btn-sm mybtn1"
                      onclick="DownloadFile()"><i class="bi bi-volume-up"></i> Speak voice</button> -->
        </div>
        <div class="button-container">
          <button type="button" id="btncode2" class="mybtn1" title="Weather in Nagpur" onclick="MySearch2(this)">Weather
            Report</button>
          <button type="button" id="btnemail2" class="mybtn1" title="Pollution in Nagpur" onclick="MySearch2(this)">Air
            Pollution</button>
          <button type="button" id="btnessay2" class="mybtn1" title="News Headlines" onclick="MySearch2(this)">News
            Headlines</button>
          <button type="button" id="btn_email" class="mybtn1" title="Send mail to @" onclick="MySearch2(this)">Send
            Email &nbsp;&nbsp;<i class="fa fa-paper-plane myicon" aria-hidden="true"></i></button>
          <!-- &nbsp;<button type="button" id="btn_down" class="mybtn1" title="Open File"
                      onclick="DownloadFile()"><i class="bi bi-file-earmark-arrow-down"></i> Download File</button> -->
        </div>

        <div class="button-container">
          <!-- <button type="button" id="openModal" class="mybtn1" onclick="mywidget()" >Show Weather</button> -->
          <button type="button" id="btncode2" class="mybtn1" title="Play Python Full Course"
            onclick="MySearch2(this)">Play Tutorial &nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
          <button type="button" id="btnemail2" class="mybtn1" title="Play Vande Mataram Geet"
            onclick="MySearch2(this)">Vande Mataram &nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
          <button type="button" id="btnessay2" class="mybtn1" title="Play National Anthem Music"
            onclick="MySearch2(this)">National Anthem &nbsp;<i class="fa fa-play" aria-hidden="true"></i></button>
          <button type="button" id="btn_email" class="mybtn1" title="Log file in Downloads folder"
            onclick="download()">Download Log &nbsp;&nbsp;<i class="fa fa-download myicon"
              aria-hidden="true"></i></button>
          <!-- &nbsp;<button type="button" id="btn_down" class="mybtn1" title="Open File"
                      onclick="DownloadFile()"><i class="bi bi-file-earmark-arrow-down"></i> Download File</button> -->
        </div>

      </form>
    </div>
  </li>
</ul>

{% endblock body %}